[submodule "LART"]
	path = LART
	url = https://github.com/brjathu/LART.git
[submodule "4D-Humans"]
	path = 4D-Humans
	url = https://github.com/shubham-goel/4D-Humans.git
[submodule "mmpose"]
	path = mmpose
	url = https://github.com/open-mmlab/mmpose.git
